@page "/contact"

<PageTitle>Contact</PageTitle>
<div class="card">
    <img src="Images/MonyProfile.jpg" alt="Mony" style="width:100%">
    <h1>Mony Dragon</h1>
    <p class="title">Software & Game Developer</p>
    <div class="links">
        <a href="https://github.com/Monydragon"><i class="fa fa-github"></i></a>
        <a href="https://monydragon.itch.io"><i class="fa fa-gamepad"></i></a>
        <a href="https://twitter.com/Monydragon"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/monydragon"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.facebook.com/Monydragon/"><i class="fa fa-facebook"></i></a>
        <a href="mailto:monydragon@gmail.com?subject=Contact Mony Dragon"><i class="fa fa-envelope"></i></a>
    </div>
</div>