.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px !important;
    margin: auto;
    text-align: center;
}
html, h1{
    color: grey;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

.links a {
    display: inline-block;
    margin-right: 10px; /* Optional: add some space between the links */
}

/* This is your base style - it affects all devices */
.card img {
    width: 100%;
    height: auto; /* maintain aspect ratio */
    display: block; /* remove extra space below image */
}
