@page "/contact"

<PageTitle>Contact</PageTitle>
<div class="card">
    <img src="Images/MonyDragonProfile2024Resize.png" alt="Mony Dragon">
        <div class="links">
            <a href="https://github.com/Monydragon"><i class="fa fa-github fa-2x"></i></a>
            <a href="https://monydragon.itch.io"><i class="fa fa-gamepad fa-2x"></i></a>
            <a href="https://twitter.com/Monydragon"><i class="fa fa-twitter fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/monydragon"><i class="fa fa-linkedin fa-2x"></i></a>
            <a href="https://www.facebook.com/Monydragon/"><i class="fa fa-facebook fa-2x"></i></a>
            <a href="mailto:monydragon@gmail.com?subject=Contact Mony Dragon"><i class="fa fa-envelope fa-2x"></i></a>
        </div>
    <h1>Mony Dragon</h1>
    <p class="title">Software & Game Developer</p>

</div>