@page "/experience"

<PageTitle>Experience</PageTitle>
<div class="container">
	<div class="project-info">
		<div class="project-title">
			<h3>Dragon Lens Studios Inc. - Software Engineering Director</h3>
			<strong>Mar 2014 - Current</strong>
		</div>
		<div class="project-description">
			<h4>Project: TBS - 2D Turn-based Battle System</h4>
			<p>Developed and designed a 2d Turnbased battle system asset released on the Unity asset store.</p>
		</div>
		<div class="project-technologies">
			<h4>Technologies:</h4>
			<p>VS 2022, C#, Unity</p>
		</div>
		<div class="project-tasks">
			<h4>Tasks:</h4>
			<ul>
				<li>Created a 2D turnbased battle system</li>
				<li>Created abilities, items, monsters, equipment and stats</li>
				<li>Designed a modular design for handling the creation of the battle system.</li>
			</ul>
		</div>
		<div class="project-description">
        	<h4>Projects: Lost Dreams, Luminous, The Afterlife</h4>
        	<p>Developed and published several games for game jams. These games are all available on <a href="https://dragonlens.itch.io">Dragon Lens Itch.io</a></p>
        </div>
        <div class="project-technologies">
        	<h4>Technologies:</h4>
        	<p>Jetbrains Rider,VS 2022, C#, Unity</p>
        </div>
        <div class="project-tasks">
        	<h4>Tasks:</h4>
        	<ul>
        		<li>Created Core Systems, Dialogue, Movement, Inventory, Items, Puzzles</li>
        		<li>Publishing and porting to various platforms including Android, and Web</li>
        		<li>Collaboration with various artists, composers, other developers and used github for handling all the collaboration.</li>
        	</ul>
        </div>
	</div>
	<div class="project-info">
		<div class="project-title">
			<h3>Lockheed Martin - Dev Ops Engineer</h3>
			<strong>Nov 2022 - Feb 2023</strong>
		</div>
		<div class="project-description">
			<h4>Project: Dev Ops</h4>
			<p>Maintain and configure CI/CD pipelines for Unity projects and C# core projects.</p>
		</div>
		<div class="project-technologies">
			<h4>Technologies:</h4>
			<p>Unity, C#, AWS, Git</p>
		</div>
		<div class="project-tasks">
			<h4>Tasks:</h4>
			<ul>
				<li>Create Build Definiations for CI/CD Pipelines</li>
				<li>Structure Gitflow branching strategies</li>
				<li>Create applications for improving CI/CD Processes</li>
			</ul>
		</div>
	</div>
	<div class="project-info">
		<div class="project-title">
			<h3>American Barcode and RFID - Software Developer</h3>
			<strong>Feb 2022 - Nov 2022</strong>
		</div>
		<div class="project-description">
			<h4>Project: Scanits</h4>
			<p>Develop RESTful APIs into microservices and work with the UI developer to develop the application in Xamerin for android.</p>
		</div>
		<div class="project-technologies">
			<h4>Technologies:</h4>
			<p>VS 2022, C#, MYSQL, Docker, Xamerin, RabbitMQ, Maximo, AZURE Dev Ops</p>
		</div>
		<div class="project-tasks">
			<h4>Tasks:</h4>
			<ul>
				<li>Create and develop solutions for Scanit</li>
				<li>Write unit tests and document code</li>
				<li>Write microservice apis to handle transactions for authentication and persistence</li>
				<li>Write calls to rabbitMQ and Maximo for message queues and containers</li>
			</ul>
		</div>
	</div>
	<div class="project-info">
		<div class="project-title">
			<h3>Transplant Connect - Software Developer</h3>
			<strong>Sep 2021 - Feb 2022</strong>
		</div>
		<div class="project-description">
			<h4>Project: ITX-Transplant</h4>
			<p>Develop and maintain the ITX-ITransplant systems the website for several clients. Worked with international clients for transplant services.</p>
		</div>
		<div class="project-technologies">
			<h4>Technologies:</h4>
			<p>VS 2022, C#, MYSQL, Docker</p>
		</div>
		<div class="project-tasks">
			<h4>Tasks:</h4>
			<ul>
				<li>Create and develop solutions for I-Transplant</li>
				<li>Debug and fix defects within the systems</li>
				<li>Complete user stories for each release cycle</li>
				<li>Script out changes to SQL DB for changes</li>
			</ul>
		</div>
	</div>
	<div class="project-info">
		<div class="project-title">
			<h3>USIC - Software Developer</h3>
			<strong>Feb 2021 - Sep 2021</strong>
		</div>
		<div class="project-description">
			<h4>Project: Translore</h4>
			<p>Develop and maintain the Translore mapping application. The Translore application is used for locators on the field. The application has mapping capabilities similar to google maps and is designed for Desktop/Mobile. Some of the features I worked on have been the Legend for symbols for the map view, a symbol viewer to show mapping symbols in the application, Voice to text recording and google voice to text features for Xamarin.</p>
		</div>
		<div class="project-technologies">
			<h4>Technologies:</h4>
			<p>VS 2019, C#, MYSQL, Docker, Xamarin, WPF, Postgres</p>
		</div>
		<div class="project-tasks">
			<h4>Tasks:</h4>
			<ul>
				<li>Create and maintain features for Translore</li>
				<li>Worked on Legend, Symbols viewer, Voice to text, Audio Recording</li>
				<li>Design and develop Xamerin and WPF UI and Backends</li>
				<li>Configure Docker and Postgres and SQL servers to run locally</li>
			</ul>
		</div>
	</div>
	<div class="project-info">
		<div class="project-title">
			<h3>Microsoft (Insight Global) - Software Developer</h3>
			<strong>May 2020 - Sep 2020</strong>
		</div>
		<div class="project-description">
			<h4>Project: Windows Essential Applications</h4>
			<p>Develop and maintain windows essential applications such as Calculator, Maps, Voice Recorder, Notepad etc.. Worked with setting up Azure Pipelines and unit testing.</p>
		</div>
		<div class="project-technologies">
			<h4>Technologies:</h4>
			<p>VS 2019, Azure DevOps, C#, MYSQL</p>
		</div>
		<div class="project-tasks">
			<h4>Tasks:</h4>
			<ul>
				<li>Create Azure Pipeline for Voice Recorder</li>
				<li>Update Unit Tests for Pipeline runs</li>
				<li>Work on Internal Tool to check repositories for inconsistencies</li>
			</ul>
		</div>
	</div>
	<div class="project-info">
		<div class="project-title">
			<h3>Mainstream Non Profit Solutions - Software Developer</h3>
			<strong>Nov 2019 - Aug 2020</strong>
		</div>
		<div class="project-description">
			<h4>Project: TFI Net / WebFaces</h4>
			<p>Developed modifications and  changes to Internal and external facing Websites / Web Apps also managed and handled ticket requests from users.</p>
		</div>
		<div class="project-technologies">
			<h4>Technologies:</h4>
			<p>VS 2017, Azure DevOps, VB, MYSQL</p>
		</div>
		<div class="project-tasks">
			<h4>Tasks:</h4>
			<ul>
				<li>Made modifications to existing codebase for TFI Net and WebFaces</li>
				<li>Created and modified stored procedures for SQL Database</li>
				<li>Worked on completing development and user tickets</li>
				<li>Handled WEB API calls with JSON backing requests</li>
			</ul>
		</div>
	</div>
	<div class="project-info">
		<div class="project-title">
			<h3>Super Systems Inc. (MSA) - Senior Software Engineer</h3>
			<strong>Apr 2017 - Jun 2018</strong>
		</div>
		<div class="project-description">
			<h4>Project: AZURE/AWS Cloud Integration API / Webservice</h4>
			<p>Designed and developed integration handling using Azure and AWS API’s connecting existing codebases to use cloud based infrastructure. Using Azure and AWS separately and in conjunction for separate projects throughout the integration pipeline. Created a webservice wrapper to handle calls between AWS/AZURE calls for the internal products being developed.</p>
		</div>
		<div class="project-technologies">
			<h4>Technologies:</h4>
			<p>VS 2017, TFS, C#, Web Services, XAML, MYSQL, Oracle, SOAP, WFS, COTS (OpenText), AWS, AZURE</p>
		</div>
		<div class="project-tasks">
			<h4>Tasks:</h4>
			<ul>
				<li>APIs that were custom developed for integration</li>
				<li>AZURE API handling using web service calls</li>
				<li>AWS API handling using web service calls</li>
				<li>C# wrapper that managed and handled connection management</li>
				<li>AZURE cloud computing network virtual desktop management</li>
			</ul>
		</div>
			<div class="project-description">
		        <h4>Project: Dosimetry Scanning Project</h4>
		        <p>Designed and developed a desktop interface responsible for scanning, validating and uploading documents to an existing records repository. The application would folder scan, verify the convention and format and alert the user to update / correct any discrepancies with the files prior to submission. The application was designed for teams to be running the process concurrently and was designed to handle large batches of over 10K files daily per user.</p>
		    </div>
		    <div class="project-technologies">
		        <h4>Technologies:</h4>
		        <p>VS 2017, TFS, C#, WPF, XAML, MYSQL, Oracle, SOAP, WFS, COTS (OpenText)</p>
		    </div>
		<div class="project-tasks">
			<h4>Tasks:</h4>
			<ul>
				<li>Created a desktop interface using C# and WPF/XAML</li>
				<li>Managed and operated Oracle/SQL data bindings and data packages</li>
				<li>Setup custom database wrapper for SQL and Oracle using EF6</li>
				<li>Setup batching and queue system to handle large data uploads</li>
				<li>Multiple user interface design and architecture</li>
				<li>Setup/Configured SOAP and Web Service calls to the server to handle data packages</li>
				<li>Configured and connected a records repository to the project for the final destination for the source files</li>
				<li>Designed and managed the project side by side with the project manager</li>
				<li>Assisted users and managers with configuration and site deployment</li>
				<li>Interfaced with OpenText through document control handling and Web Service APIs that were custom developed</li>
			</ul>
		</div>
		<div class="project-description">
            <h4>Project: Document Control Web Application</h4>
            <p>Designed and developed a web application to help users upload, merge and enter metadata for documents that were then being transferred to an internal record control interface.</p>
        </div>
        <div class="project-technologies">
            <h4>Technologies:</h4>
            <p>VS 2017, TFS, C#, MVC, ASP.NET, MYSQL, Oracle, SOAP, WFS, COTS (OpenText), COTS (Adlib)</p>
        </div>
		<div class="project-tasks">
			<h4>Tasks:</h4>
			<ul>
				<li>Created a web interface using C# and ASP.NET and MVC pattern</li>
				<li>Managed and operated Oracle/SQL data bindings and data packages</li>
				<li>Setup custom database wrapper for SQL and Oracle using EF6</li>
				<li>Setup batching and queue system to handle large data uploads</li>
				<li>Multiple user interface design and architecture</li>
				<li>Setup/Configured SOAP and Web Service calls to the server to handle data packages</li>
				<li>Configured and connected a records repository to the project for the final destination for the source files</li>
				<li>Designed and managed the project side by side with the project manager</li>
				<li>Assisted users and managers with configuration and site deployment</li>
				<li>Interfaced with OpenText through document control handling and Web Service APIs that were custom developed</li>
			</ul>
		</div>
		<div class="project-description">
            <h4>Project: Web API Interface / AWS Cloud Interfacing</h4>
            <p>Designed and developed a Web API interface that worked with Amazon’s AWS cloud integration. The library handled all the calls to and from the AWS SDK/WEB API calls. Storing and Loading files and Saving and loading into a SQL less database structure for document files.</p>
        </div>
        <div class="project-technologies">
            <h4>Technologies:</h4>
            <p>VS 2017, TFS, C#, AWS, WEB API</p>
        </div>
        <div class="project-tasks">
            <h4>Tasks:</h4>
            <ul>
                <li>Created library to handle the layer for data and migration to and from AWS cloud services</li>
	            <li>Wrote a wrapper that could be placed into any compatible project</li>
	            <li>Managed and deployed to the site</li>
            </ul>
        </div>
	</div>
	<div class="project-info">
		<div class="project-title">
			<h3>Specialty Fulfillment Center - IT  & Software Director</h3>
			<strong>Oct 2016 - Apr 2017</strong>
		</div>
		<div class="project-description">
			<h4>Project: IT</h4>
			<p>Managed and operated all technical services for the company. Handling the networks, servers, devices on site. Manages the SQL database administration for the website and internal tools. Optimizes technical workflow and devices utilized by the company as well directs towards improvements and modifications to the current computer/network infrastructure.</p>
		</div>
		<div class="project-technologies">
			<h4>Technologies:</h4>
			<p>VS 2017, C#, MYSQL, Windows, Microsoft Office</p>
		</div>
		<div class="project-tasks">
			<h4>Tasks:</h4>
			<ul>
				<li>Maintained servers and client computers</li>
				<li>Managed website and software</li>
				<li>handled order processing and general IT tasks</li>
				<li>Migrating servers to cloud infrastructure</li>
			</ul>
		</div>
	</div>
	<div class="project-info">
		<div class="project-title">
			<h3>Hewlett Packard (HP) Lionbridge - Lead Software QA Engineer Tier 3</h3>
		<strong>Apr 2014 - Sep 2016</strong>
		</div>
		<div class="project-description">
			<h4>Project: Device Support</h4>
			<p>Worked with hardware engineers working on enterprise class printers and other devices. Supported direct support and troubleshooting and analysis for a lab full of devices alone.</p>
		</div>
		<div class="project-technologies">
			<h4>Technologies:</h4>
			<p>Windows 7, Microsoft Office, HP Software/Drivers</p>
		</div>
		<div class="project-tasks">
			<h4>Tasks:</h4>
			<ul>
				<li>Maintain and update printers and devices on site</li>
				<li>Troubleshoot devices and install software on computers and devices</li>
				<li>Setup automated testing</li>
			</ul>
		</div>
	</div>
	<div class="project-info">
		<div class="project-title">
			<h3>Microsoft (Lionbridge) - Lead Software QA Engineer Tier 3</h3>
			<strong>Mar 2013 - Apr 2014</strong>
		</div>
		<div class="project-description">
			<h4>Project: Windows Store Testing</h4>
			<p>Helped direct and manage medium sized teams while supporting Microsoft in the efforts to release and QA Windows Store.</p>
		</div>
		<div class="project-technologies">
			<h4>Technologies:</h4>
			<p>Windows 8, Microsoft Office</p>
		</div>
		<div class="project-tasks">
			<h4>Tasks:</h4>
			<ul>
				<li>Installed and did quality assurance for windows store apps</li>
				<li>Reviewed and lead the team of other QA engineers and helped in validating audits</li>
			</ul>
		</div>
	</div>
	<div class="project-info">
		<div class="project-title">
			<h3>WDS Global - Technical Support Supervisor</h3>
			<strong>Feb 2012 - Sep 2012</strong>
		</div>
		<div class="project-description">
			<h4>Project: Support Supervisor</h4>
			<p>Lead a large team of over 20 people with technical support telecommunication support for Android/IOS/BlackBerry devices. While making sure to coach and train new team members on a consistent basis.</p>
		</div>
		<div class="project-technologies">
			<h4>Technologies:</h4>
			<p>Windows 7, Mcrosoft Office, Call Recording software</p>
		</div>
		<div class="project-tasks">
			<h4>Tasks:</h4>
			<ul>
				<li>Handled call escalations for technical and non technical calls.</li>
				<li>Lead the team of agents and handled one on ones and disciplinary actions</li>
			</ul>
		</div>
	</div>
	<div class="project-info">
		<div class="project-title">
			<h3>Apple - Technical Support</h3>
			<strong>Oct 2011 - Jan 2012</strong>
		</div>
		<div class="project-description">
			<h4>Project: Apple Care</h4>
			<p>Supported IOS, OSX, and AirPort devices as a technical support representative.</p>
		</div>
		<div class="project-technologies">
			<h4>Technologies:</h4>
			<p>Mac OS, Call Recording software, IOS, Airport</p>
		</div>
		<div class="project-tasks">
			<h4>Tasks:</h4>
			<ul>
				<li>Handled calls for technical and non technical calls.</li>
				<li>Supported IOS, OSX, and Airport device calls and troubleshooting</li>
			</ul>
		</div>
	</div>
	<div class="project-info">
		<div class="project-title">
			<h3>AT&T - Customer Support Representive</h3>
			<strong>Nov 2010 - Oct 2011</strong>
		</div>
		<div class="project-description">
			<h4>Project: Customer Support</h4>
			<p>Handled customer service calls for telecommunication devices.</p>
		</div>
		<div class="project-technologies">
			<h4>Technologies:</h4>
			<p>Windows 7, Microsoft Office, Call Recording Software</p>
		</div>
		<div class="project-tasks">
			<h4>Tasks:</h4>
			<ul>
				<li>Handled calls for technical and non technical calls.</li>
				<li>Handled customer concerns for billing, technical and escalations.</li>
			</ul>
		</div>
	</div>
</div>

