@page "/"
@using System.Text.Json
@using System.Net.Http.Json
<PageTitle>Home</PageTitle>

<h1 class="center"><strong>Mony Dragon</strong><br></h1>
<div class="image-container">
    <img src="Images/MonyProfile.jpg" width="261" height="263" alt="Mony Dragon"/>
</div>
<p class="lead">Director of Development &amp; Game Design Enthusiast</p>

<section class="intro-section">
    <p>
        Hi! I'm Mony, the Director of Development at <a href="https://dragonlensstudios.com" target="_blank">Dragon Lens Studios</a>. My adventure with technology began when I was just 5, captivated by the endless possibilities computers presented. By 11, diving into Bethesda's 'Morrowind' and its modding toolkit, I realized that I wanted to shape and influence this ever-evolving digital landscape.
    </p>
    <p>
        From my early days as a modder to now leading the development at Dragon Lens Studios, I've been fortunate to wear many hats. Under my direction, our team seamlessly blends innovative mechanics with cherished gaming traditions. Every project we embark upon is treated as a unique canvas, shaped by diverse insights and expertise.
    </p>
    <p>
        Central to my leadership ethos is valuing community feedback. It's essential to know that our games aren't just for players; they're shaped by them. We prioritize listening, adapting, and innovating based on the feedback we receive, ensuring that our creations resonate with audiences everywhere.
    </p>
    <p>
        If you're keen on supporting our vision and endeavors, consider joining our community on <a href="https://www.patreon.com/Monydragon" target="_blank">Patreon</a>. Your support not only propels our creativity but also widens our impact, fostering innovation and enhancing the quality of each venture.
    </p>
    <p>
        I invite you to explore our portfolio at <a href="https://dragonlens.itch.io" target="_blank">Dragon Lens on Itch.io</a>. Alternatively, dive deeper into our studio's journey and offerings at <a href="https://dragonlensstudios.com" target="_blank">dragonlens.io</a>. Let's push the boundaries of what's possible in the gaming world together!
    </p>
</section>

<br/>
<div class="button-group">
    <a href="https://docs.google.com/document/d/1cvJ4FwkyQfbhWxCRXNJSMYR-QyB3ckxld4fCk_NqkG8" target="_blank" class="button resume-button">Download Software Developer Resume</a>
    <a href="https://drive.google.com/file/d/1brDetpKYzczfkS_9yZ2W3CPK2vETe1zA/view" target="_blank" class="button resume-button">Download Game Developer Resume</a>
</div>
<br/>
<div class="center">
    <h3>Random Facts</h3>
    
    @if (!string.IsNullOrWhiteSpace(fact))
    {
        <h4>Here is a random fact!</h4>
        <p>@fact</p>
    }
    
    <button class="btn btn-primary" @onclick="GetRandomFact">Get Random Fact</button>
</div>


@code {
    private string fact;

    [Inject]
    private HttpClient HttpClient { get; set; }

    private async Task GetRandomFact()
    {
        var factsJson = await HttpClient.GetStringAsync("/data/random-facts.json");
        var facts = JsonSerializer.Deserialize<List<RandomFact>>(factsJson);

        var random = new Random();
        var index = random.Next(0, facts.Count);
        fact = facts[index].fact;
    }

    public class RandomFact
    {
        public string fact { get; set; }
    }
}


