@page "/"
@using Monydragons_Portfolio.Components
@inject IDialogService DialogService

<PageTitle>Home</PageTitle>

<h1 class="center"><strong>Mony Dragon</strong><br></h1>
<div class="image-container">
    <img src="Images/MonyDragonProfile2024Resize.png" alt="Mony Dragon">
</div>
<p class="lead">Director of Development &amp; Game Design Enthusiast</p>

<section class="intro-section">
    <p>
        Hi! I'm Mony, the Director of Development at <a href="https://dragonlensstudios.com" target="_blank">Dragon Lens Studios</a>. My adventure with technology began when I was just 5, captivated by the endless possibilities computers presented. By 11, diving into Bethesda's 'Morrowind' and its modding toolkit, I realized that I wanted to shape and influence this ever-evolving digital landscape.
    </p>
    <p>
        From my early days as a modder to now leading the development at Dragon Lens Studios, I've been fortunate to wear many hats. Under my direction, our team seamlessly blends innovative mechanics with cherished gaming traditions. Every project we embark upon is treated as a unique canvas, shaped by diverse insights and expertise.
    </p>
    <p>
        Central to my leadership ethos is valuing community feedback. It's essential to know that our games aren't just for players; they're shaped by them. We prioritize listening, adapting, and innovating based on the feedback we receive, ensuring that our creations resonate with audiences everywhere.
    </p>
    <p>
        If you're keen on supporting our vision and endeavors, consider joining our community on <a href="https://www.patreon.com/Monydragon" target="_blank">Patreon</a>. Your support not only propels our creativity but also widens our impact, fostering innovation and enhancing the quality of each venture.
    </p>
    <p>
        I invite you to explore our portfolio at <a href="https://dragonlens.itch.io" target="_blank">Dragon Lens on Itch.io</a>. Alternatively, dive deeper into our studio's journey and offerings at <a href="https://dragonlensstudios.com" target="_blank">dragonlens.io</a>. Let's push the boundaries of what's possible in the gaming world together!
    </p>
</section>

<br/>
<div class="resume-section">
    <h3>Resumes</h3>
    <div class="resume-item">
        <p class="resume-title">Standard Software Developer Resume</p>
        <div class="button-group">
            <a href="https://docs.google.com/document/d/1QlelG4Gq3aAMV7g0RUOsBeacYVapZ9Hg" target="_blank" class="button resume-button">View</a>
            <a href="/resume/MonyDragonResumeCSharpDeveloperStandard.pdf" download class="button resume-button">Download</a>
        </div>
    </div>
    <div class="resume-item">
        <p class="resume-title">Standard Game Developer Resume</p>
        <div class="button-group">
            <a href="https://docs.google.com/document/d/1rXDxScPSv0SkxlZgClP-ctsxBJF_7ZN4" target="_blank" class="button resume-button">View</a>
            <a href="/resume/MonyDragonResumeGameDeveloperStandard.pdf" download class="button resume-button">Download</a>
        </div>
    </div>
    <div class="resume-item">
        <p class="resume-title">Detailed Software Developer Resume</p>
        <div class="button-group">
            <a href="https://docs.google.com/document/d/1cvJ4FwkyQfbhWxCRXNJSMYR-QyB3ckxld4fCk_NqkG8" target="_blank" class="button resume-button">View</a>
            <a href="/resume/MonyDragonResumeCSharpDeveloperDetailed.pdf" download class="button resume-button">Download</a>
        </div>
    </div>
</div>

<br/>
<div class="center">
    <MudButton @onclick="ShowRandomFact" Variant="Variant.Filled" Color="Color.Primary">
        Random Fact
    </MudButton>
</div>

@code {
    private void ShowRandomFact()
    {
        DialogService.Show<RandomFactsDialog>("Random Fact", new DialogOptions{CloseButton = true});
    }
}





