@page "/"

<PageTitle>Home</PageTitle>

   <h1 class="center"><strong>Mony Dragon</strong><br></h1>
   <p class="lead">Software &amp; Game Development Expert</p>
   <p>Developer with over 12 years of professional development experience. A strong team leader who can handle difficult tasks with deadlines. Always using professional, testable, and readable code while staying on the cutting edge of technology!</p>
    
