@page "/"

<PageTitle>Home</PageTitle>

<h1 class="center"><strong>Mony Dragon</strong><br></h1>
<div class="image-container">
    <img src="Images/MonyProfile.jpg" width="261" height="263" alt="Mony Dragon"/>
</div>
   <p class="lead">Software &amp; Game Development Expert</p>
   <p>Developer with over 12 years of professional development experience. A strong team leader who can handle difficult tasks with deadlines. Always using professional, testable, and readable code while staying on the cutting edge of technology!</p>
<div class="button-group">
    <a href="https://docs.google.com/document/d/1cvJ4FwkyQfbhWxCRXNJSMYR-QyB3ckxld4fCk_NqkG8" class="button resume-button">Download Software Developer Resume</a>
    <a href="https://drive.google.com/file/d/1brDetpKYzczfkS_9yZ2W3CPK2vETe1zA/view" class="button resume-button">Download Game Developer Resume</a>
</div>

