.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 256px;
    max-height: 256px;
    margin: 10px;
}

.card {
    border: #343a40;
    color: white;
}

.card-body {
    color: white;
    background-color: #060660;
}
.card-title, .card-text, .btn-link {
    color: white !important;
}

.btn-primary {
    width: 100%; /* Make the button take the full width */
}

.btn-transparent {
    background-color: transparent;
    border-color: cornflowerblue;
    border-bottom-width: thick;
    color: white;
}

.btn-transparent:hover {
    background-color: cornflowerblue;
    color: white;
}

.card .collapse .card-body {
    color: white; /* Ensure collapsed content text is white */
}

