@page "/portfolio"

<PageTitle>Portfolio</PageTitle>

<h1 class="center">Portfolio</h1>
<h3 class="center"><a href="https://github.com/Monydragon" target="_blank">Github</a></h3>
<h3 class="center"><a href="http://dragonlens.itch.io" target="_blank">Dragon Lens Itch.io</a></h3>
<h3 class="center"><a href="http://monydragon.itch.io" target="_blank">Mony Dragon Itch.io</a></h3>
<div class="portfolio-container">
    <h2 class="center">Unity Assets</h2>
    <div class="image-container">
        <div class="image-wrapper">
            <div class="image-item">
                <a href="https://dragonlens.itch.io/unity-pixel-engine" target="_blank"><img src="Images/PEFUTitle.png" alt="Pixel Engine for Unity"></a>
                <h3>Pixel Engine for Unity</h3>
                <p>A versatile engine tailored for Unity, perfect for retro-inspired projects.</p>
            </div>
            <div class="image-item">
                <a href="https://assetstore.unity.com/packages/templates/systems/tbs-2d-turn-based-battle-system-225475" target="_blank"><img src="Images/TBSCover.png" alt="TBS - 2d Turn-based Battle System"></a>
                <h3>TBS - 2d Turn-based Battle System</h3>
                <p>Intuitive and powerful, this asset is designed to streamline the creation of turn-based strategies and RPGs.</p>
            </div>
        </div>
    </div>
    <hr class="hr1"/>
    <h2 class="center">Games</h2>
    <div class="image-container">
        <div class="image-wrapper">
            <div class="image-item">
                <a href="https://monydragon.itch.io/phantasy-quest-the-prologue" target="_blank"><img src="Images/PQCover.png" alt="Phantasy Quest: The Prologue"></a>
                <h3>Phantasy Quest: The Prologue</h3>

                <h4>Overview</h4>
                <p>
                    Phantasy Quest offers a nostalgic return to old-school RPGs such as Final Fantasy, Dragon Warrior/Quest, and Chrono Trigger. It combines new engine mechanics with a rich, player-driven storyline and seamlessly integrates classic and contemporary RPG elements that fans have longed for.
                </p>

                <h4>Intro</h4>
                <p>
                    The protagonist, Tobias, awakens with no memory of his past. As he interacts with villagers, explores the island, and embarks on adventures, he slowly uncovers his true purpose. The story unfolds with Toby waking in his bed, greeted by someone who seems to be his friend.
                </p>
            </div>
            <div class="image-item">
                <a href="https://dragonlens.itch.io/lost-dreams" target="_blank"><img src="Images/LostDreamsCover.png" alt="Lost Dreams"></a>
                <h3>Lost Dreams</h3>
                <p>'Lost Dreams’ is a game about Blue, a chef whose ideas were stolen and their ambitions crushed. They suddenly find themselves lost in a fantasy world in their dreams with their dog Biscuit by their side. Can Blue find happiness again?</p>
            </div>
            <div class="image-item">
                <a href="https://dragonlens.itch.io/luminous" target="_blank"><img src="Images/LuminousCover.png" alt="Luminous"></a>
                <h3>Luminous</h3>
                <p>
                    You are lost in the woods but you have your trusty candle by your side to help guide you through the forest. You are hunted by a death fox god that is the keeper of the forest. Light is saving you from being eaten up by the fox.
                </p>
                <p>
                    Use your wits and solve puzzles by lighting torches with the corresponding colors that you can change your candle to by activating mushrooms. Look for lanterns as they save your progress and keep your candle full.
                </p>
            </div>
            <div class="image-item">
                <a href="https://dragonlens.itch.io/the-afterlife" target="_blank"><img src="Images/TheAfterLifeCover.PNG" alt="The Afterlife"></a>
                <h3>The Afterlife</h3>
                <p>After an untimely end, you must make your way through a series of puzzles to escape "the afterlife" and have your own chance at a new beginning. </p>
            </div>
            <div class="image-item">
                <a href="https://dragonlens.itch.io/oceanscall" target="_blank"><img src="Images/OceansCallTitle.png" alt="Oceans Call"></a>
                <h3>Oceans Call</h3>
                <p>
                    In the vastness of the ocean's depths, a maritime tragedy unfurls before my eyes. As a mermaid, I possess the extraordinary ability to bear witness to the heart-wrenching moments that unfold beneath the surface. A shipwreck! My heart aches at the sight of the vessel desperately lurching against the roaring waves.
                </p>
                <p>
                    Yet, amidst the chaos and destruction, a singular survivor emerges - a weary soul, desperate to cling onto life. Their every instinct drives them to escape, to flee from the very essence that can bring salvation. Oh, how I long to envelop them in my protective embrace, to let them know that safety lies within my ethereal realms.
                </p>
                <p>
                    But the oxygen dwindles, precious breaths dissipating into the boundless abyss. Swiftly, our fate intertwines, as I embrace my destiny of becoming their guardian savior. A relentless pursuit ensues, a chase beneath the waves as we descend into the mysterious depths.
                </p>
                <p>
                    Messages float within glass vessels, treasures of knowledge revealing fragments of a harrowing tale. These whispered secrets unveil the tragedy that befell their once-majestic vessel. Clues hidden within the sorrows of ink, guiding my desperate quest to comprehend the cruelties of fate.
                </p>
                <p>
                    Yet, unseen dangers lurk in the path we tread. Ferocious sea creatures, guardians of their treacherous realm, endeavor to protect what is rightfully theirs. Their eyes glint with ferocity as they aim to quench their ravenous hunger. With unwavering determination, I navigate these treacherous waters, sidestepping their gaping jaws and eluding their wrathful advance.
                </p>
                <p>
                    Amidst the lurking perils, another threat looms - the invisible tendrils of humankind's legacy. Fishing nets, relentless in their pursuit of capturing life, threaten to entangle and imprison. Sea trash, evidence of human indifference, taints the very essence of life below the surface. Steadfast, I chart a course, avoiding these treacherous obstacles, determined to overcome the obstacles that stand in our way.
                </p>
                <p>
                    Will I, in my compassion and unwavering resolve, be able to save this poor, lost soul? Against the backdrop of a vast, unforgiving ocean, their life teeters on the precipice of oblivion. Victory or defeat hangs in the balance, as time runs out, echoing with the fading whispers of slipping oxygen.
                </p>
                <p>
                    As darkness lingers, I summon every ounce of strength, every flicker of love that courses through my mermaid heart. For in this tale of peril and salvation, I know that destiny has woven our lives together. With every stroke of my tail, every beat of my heart, I venture deeper still, driven by an indomitable spirit: the hope that against all odds, I will save the one who resists salvation.
                </p>
                <p>
                    Will I succeed? Only the merciless sea knows the answer. Yet, my mermaid soul, empowered by the love that intertwines our fates, will fight with every fiber of my being. For when compassion meets determination, the impossible becomes the realm of miracles.
                </p>
            </div>

        </div>
    </div>


</div>

