.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 256px;
    max-height: 256px;
    margin: 10px;
}

