.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 256px;
    max-height: 256px;
    margin: 10px;
}

.card {
    background-color: #343A40 !important;
}

.card-body, .card-title, .card-text, .btn-link {
    color: white !important;
}

.btn-primary {
    width: 100%; /* Make the button take the full width */
}

.card .collapse .card-body {
    color: white; /* Ensure collapsed content text is white */
}

