@page "/portfolio"

<PageTitle>Portfolio</PageTitle>

<div class="container text-center my-4">
    <h1>Portfolio</h1>
    <div class="my-4 text-center">
        <a href="https://github.com/Monydragon" target="_blank" class="btn btn-dark btn-lg m-2">
            <i class="fa fa-github fa-3x"></i> Github
        </a>
        <a href="http://dragonlens.itch.io" target="_blank" class="btn btn-dark btn-lg m-2">
            <i class="fa fa-gamepad fa-3x"></i> Dragon Lens Itch.io
        </a>
        <a href="http://monydragon.itch.io" target="_blank" class="btn btn-dark btn-lg m-2">
            <i class="fa fa-gamepad fa-3x"></i> Mony Dragon Itch.io
        </a>
    </div>


    <h2>Unity Assets</h2>
    <div class="row">
        <!-- Unity Asset 1: Pixel Engine for Unity -->
        <div class="col-md-4 mb-4">
            <div class="card bg-dark text-white">
                <a href="https://dragonlens.itch.io/unity-pixel-engine" target="_blank">
                    <img src="Images/PEFUTitle.png" class="card-img-top" alt="Pixel Engine for Unity" style="height: 200px; object-fit: cover;">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a href="https://dragonlens.itch.io/unity-pixel-engine" target="_blank">Pixel Engine for Unity</a></h5>
                    <button class="btn btn-primary w-100" @onclick="() => ToggleCollapse(0)">
                        Description
                    </button>
                    @if (IsCollapsed[0])
                    {
                        <div class="mt-2">
                            <p>A versatile engine tailored for Unity, perfect for retro-inspired projects.</p>
                        </div>
                    }
                </div>
            </div>
        </div>

        <!-- Unity Asset 2: TBS - 2d Turn-based Battle System -->
        <div class="col-md-4 mb-4">
            <div class="card bg-dark text-white">
                <a href="https://assetstore.unity.com/packages/templates/systems/tbs-2d-turn-based-battle-system-225475" target="_blank">
                    <img src="Images/TBSCover.png" class="card-img-top" alt="TBS - 2d Turn-based Battle System" style="height: 200px; object-fit: cover;">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a href="https://assetstore.unity.com/packages/templates/systems/tbs-2d-turn-based-battle-system-225475" target="_blank">TBS - 2d Turn-based Battle System</a></h5>
                    <button class="btn btn-primary w-100" @onclick="() => ToggleCollapse(1)">
                        Description
                    </button>
                    @if(IsCollapsed[1])
                    {
                        <div class="mt-2">
                            <p>
                                Intuitive and powerful, this asset is designed to streamline the creation of turn-based strategies and RPGs.
                            </p> 
                        </div>
                    }
                </div>
            </div>
        </div>

        <hr class="my-4">

        <h2>Games</h2>
        <div class="row">
            <!-- Game 1: Phantasy Quest: The Prologue -->
            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white">
                    <a href="https://monydragon.itch.io/phantasy-quest-the-prologue" target="_blank">
                        <img src="Images/PQCover.png" class="card-img-top" alt="Phantasy Quest: The Prologue" style="height: 200px; object-fit: cover;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://monydragon.itch.io/phantasy-quest-the-prologue" target="_blank">Phantasy Quest: The Prologue</a></h5>
                        <button class="btn btn-primary w-100" @onclick="() => ToggleCollapse(2)">
                            Description
                        </button>
                        @if(IsCollapsed[2])
                        {
                            <div class="mt-2">
                                 <p> 
                                    Phantasy Quest offers a nostalgic return to old-school RPGs such as Final Fantasy, Dragon Warrior/Quest, and Chrono Trigger. It combines new engine mechanics with a rich, player-driven storyline and seamlessly integrates classic and contemporary RPG elements that fans have longed for. 
                                </p> 
                 
                                <h4>Intro</h4> 
                                <p> 
                                    The protagonist, Tobias, awakens with no memory of his past. As he interacts with villagers, explores the island, and embarks on adventures, he slowly uncovers his true purpose. The story unfolds with Toby waking in his bed, greeted by someone who seems to be his friend. 
                                </p> 
                         </div>
                        }
                    </div>
                </div>
            </div>
       
            <!-- Game 2: Lost Dreams -->
            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white">
                    <a href="https://dragonlens.itch.io/lost-dreams" target="_blank">
                        <img src="Images/LostDreamsCover.png" class="card-img-top" alt="Lost Dreams" style="height: 200px; object-fit: cover;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://dragonlens.itch.io/lost-dreams" target="_blank">Lost Dreams</a></h5>
                        <button class="btn btn-primary w-100" @onclick="() => ToggleCollapse(3)">
                            Description
                        </button>
                        @if(IsCollapsed[3])
                        {
                            <div class="mt-2">
                                <p>
                                    'Lost Dreams’ is a game about Blue, a chef whose ideas were stolen and their ambitions crushed. They suddenly find themselves lost in a fantasy world in their dreams with their dog Biscuit by their side. Can Blue find happiness again?
                                </p>
                            </div>
                        }
                    </div>
                </div>
            </div>
       
            <!-- Game 3: Luminous -->
            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white">
                    <a href="https://dragonlens.itch.io/luminous" target="_blank">
                        <img src="Images/LuminousCover.png" class="card-img-top" alt="Luminous" style="height: 200px; object-fit: cover;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://dragonlens.itch.io/luminous" target="_blank">Luminous</a></h5>
                        <button class="btn btn-primary w-100" @onclick="() => ToggleCollapse(4)">
                            Description
                        </button>
                        @if(IsCollapsed[4])
                        {
                            <div class="mt-2">
                                <p>
                                    You are lost in the woods but you have your trusty candle by your side to help guide you through the forest. You are hunted by a death fox god that is the keeper of the forest. Light is saving you from being eaten up by the fox.
                                    Use your wits and solve puzzles by lighting torches with the corresponding colors that you can change your candle to by activating mushrooms. Look for lanterns as they save your progress and keep your candle full.                                </p>
                            </div>
                        }
                    </div>
                </div>
            </div>

        
            <!-- Game 4: The Afterlife -->
            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white">
                    <a href="https://dragonlens.itch.io/the-afterlife" target="_blank">
                        <img src="Images/TheAfterLifeCover.PNG" class="card-img-top" alt="The Afterlife" style="height: 200px; object-fit: cover;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://dragonlens.itch.io/the-afterlife" target="_blank">The Afterlife</a></h5>
                        <button class="btn btn-primary w-100" @onclick="() => ToggleCollapse(5)">
                            Description
                        </button>
                        @if(IsCollapsed[5])
                        {
                            <div class="mt-2">
                                <p>
                                   After an untimely end, you must make your way through a series of puzzles to escape "the afterlife" and have your own chance at a new beginning.
                                </p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        
            <!-- Game 5: Oceans Call -->
            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white">
                    <a href="https://dragonlens.itch.io/oceanscall" target="_blank">
                        <img src="Images/OceansCallTitle.png" class="card-img-top" alt="Oceans Call" style="height: 200px; object-fit: cover;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://dragonlens.itch.io/oceanscall" target="_blank">Oceans Call</a></h5>
                        <button class="btn btn-primary w-100" @onclick="() => ToggleCollapse(6)">
                            Description
                        </button>
                        @if(IsCollapsed[6])
                        {
                            <div class="mt-2">
                                <p> 
                                    In the vastness of the ocean's depths, a maritime tragedy unfurls before my eyes. As a mermaid, I possess the extraordinary ability to bear witness to the heart-wrenching moments that unfold beneath the surface. A shipwreck! My heart aches at the sight of the vessel desperately lurching against the roaring waves. 
                                </p> 
                                <p> 
                                    Yet, amidst the chaos and destruction, a singular survivor emerges - a weary soul, desperate to cling onto life. Their every instinct drives them to escape, to flee from the very essence that can bring salvation. Oh, how I long to envelop them in my protective embrace, to let them know that safety lies within my ethereal realms. 
                                </p> 
                                <p> 
                                    But the oxygen dwindles, precious breaths dissipating into the boundless abyss. Swiftly, our fate intertwines, as I embrace my destiny of becoming their guardian savior. A relentless pursuit ensues, a chase beneath the waves as we descend into the mysterious depths. 
                                </p> 
                                <p> 
                                    Messages float within glass vessels, treasures of knowledge revealing fragments of a harrowing tale. These whispered secrets unveil the tragedy that befell their once-majestic vessel. Clues hidden within the sorrows of ink, guiding my desperate quest to comprehend the cruelties of fate. 
                                </p> 
                                <p> 
                                    Yet, unseen dangers lurk in the path we tread. Ferocious sea creatures, guardians of their treacherous realm, endeavor to protect what is rightfully theirs. Their eyes glint with ferocity as they aim to quench their ravenous hunger. With unwavering determination, I navigate these treacherous waters, sidestepping their gaping jaws and eluding their wrathful advance. 
                                </p> 
                                <p> 
                                    Amidst the lurking perils, another threat looms - the invisible tendrils of humankind's legacy. Fishing nets, relentless in their pursuit of capturing life, threaten to entangle and imprison. Sea trash, evidence of human indifference, taints the very essence of life below the surface. Steadfast, I chart a course, avoiding these treacherous obstacles, determined to overcome the obstacles that stand in our way. 
                                </p> 
                                <p> 
                                    Will I, in my compassion and unwavering resolve, be able to save this poor, lost soul? Against the backdrop of a vast, unforgiving ocean, their life teeters on the precipice of oblivion. Victory or defeat hangs in the balance, as time runs out, echoing with the fading whispers of slipping oxygen. 
                                </p> 
                                <p> 
                                    As darkness lingers, I summon every ounce of strength, every flicker of love that courses through my mermaid heart. For in this tale of peril and salvation, I know that destiny has woven our lives together. With every stroke of my tail, every beat of my heart, I venture deeper still, driven by an indomitable spirit: the hope that against all odds, I will save the one who resists salvation. 
                                </p> 
                                <p> 
                                    Will I succeed? Only the merciless sea knows the answer. Yet, my mermaid soul, empowered by the love that intertwines our fates, will fight with every fiber of my being. For when compassion meets determination, the impossible becomes the realm of miracles. 
                                </p> 
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!-- Game 6: We're Live -->
            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white">
                    <a href="https://dragonlens.itch.io/were-live" target="_blank">
                        <img src="Images/WeReLive.png" class="card-img-top" alt="We're Live" style="height: 200px; object-fit: cover;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://dragonlens.itch.io/were-live" target="_blank">We're Live</a></h5>
                        <button class="btn btn-primary w-100" @onclick="() => ToggleCollapse(7)">
                            Description
                        </button>
                        @if(IsCollapsed[7])
                        {
                            <div class="mt-2">
                                <p>
                                    🎮 Introducing 'We're Live' - The Ultimate Streamer's Challenge! 🌟
                                </p>
                                <p>
                                    Dive into the thrilling world of 'We're Live', a game that masterfully blends the adrenaline of a first-person shooter with the dynamic, sometimes unpredictable, world of live streaming. This isn't just about quick reflexes and sharp shooting; it's about juggling the art of entertainment with the heat of gameplay. 🕹️📺
                                </p>
                                <p>
                                    👥 Engage or Ignore - Your Choice, Your Consequences: In 'We're Live', your mission is twofold: dazzle your audience with your engaging persona and ace the game with your gaming skills. Keep your viewers hooked for a soaring score, or focus solely on the game and risk their wrath. Beware, the chat is unforgiving and will let you know if you're slacking in engagement or gameplay!
                                </p>
                                <p>
                                    ⚔️ The Gameplay - Intense, Fast-Paced, Unforgiving: Experience the rush of a high-stakes first-person shooter. Every level, every enemy, and every bullet counts. Navigate through intense scenarios, where your skills will be pushed to the limit.
                                </p>
                                <p>
                                    🗣️ The Chat(Beta) - Your Unseen Ally or Foe: Your virtual audience will react in real-time. Are you being too quiet? Not flashy enough? Or maybe you're just the streamer they love to hate? Their feedback is immediate, honest, and can drastically affect your score and strategy.
                                </p>
                                <p>
                                    📈 Scoreboard(Coming Soon) - Bragging Rights or Humble Pie: Show off your dual skills in streaming and gaming on the global scoreboard. Will you be the most charismatic gunner or the silent sharpshooter? Your playstyle determines your fame.
                                </p>

                                <p>
                                    🔜 What's Next - The Adventure Continues: Hold onto your seats because 'We're Live' is just getting started. More content is on the horizon, and we can't wait to unveil what we have in store. New levels, more interactive chat features, and maybe even a few surprises!
                                </p>

                                <p>
                                    🌙 Look Out for Tonight's Updates: Be sure to check back later tonight for exciting updates. 'We're Live' is about to get even more exhilarating, and you won't want to miss what's coming next!
                                </p>

                                <p>
                                    Get ready to stream, shoot, and survive in 'We're Live'. It's more than a game; it's a battle for the spotlight. Are you up for the challenge?
                                </p>
                            </div>
                        }
                    </div>
                </div>
            </div>
            
            <!-- Game 7: Beyond the Infernal Door -->
            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white">
                    <a href="https://dragonlens.itch.io/beyond-the-infernal-door" target="_blank">
                        <img src="Images/BeyondTheInfernalDoor.png" class="card-img-top" alt="Beyond the Infernal Door" style="height: 200px; object-fit: cover;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://dragonlens.itch.io/beyond-the-infernal-door" target="_blank">Beyond the Infernal Door</a></h5>
                        <button class="btn btn-primary w-100" @onclick="() => ToggleCollapse(8)">
                            Description
                        </button>
                        @if(IsCollapsed[8])
                        {
                            <div class="mt-2">
                                <p>
                                    Embark on a perilous journey through the depths of the netherworld in "Beyond the Infernal Door," a riveting choice-driven adventure that transcends the boundaries of reality and fiction. This game invites you into a surreal game show, guided by an enigmatic and eccentric host, where each decision carves the path to your destiny.
                                </p>
                                
                                <p>
                                    As the curtains rise, you find yourself standing at the threshold of the unknown, surrounded by doors that lead to the various levels of hell—each realm a labyrinth of trials, challenges, and dark secrets. Your inaugural quest begins in the realm of Wrath, where the air crackles with the fury of damned souls yearning for redemption. Here, in the shadows of torment and despair, your choices have the power to unveil salvation or plunge deeper into the abyss.
                                </p>
                                
                                <p>
                                    "Why am I here?" you wonder. The answer lies beyond the infernal doors, in the hands of fate and the whims of the show's cryptic host. With each step, you unravel the mysteries of your own existence and the intricate stories of those condemned to eternal damnation. Your actions could be their last hope for absolution or the final nail in their infernal coffins.
                                </p>
                                
                                <p>
                                    "Beyond the Infernal Door" is not just a game; it's an odyssey of self-discovery and redemption. With its rich, narrative-driven gameplay, players are forced to confront their morals, make critical decisions, and face the consequences of their actions. The game's unique blend of psychological intrigue and moral dilemmas ensures that no two journeys are the same, offering endless possibilities and multiple endings.
                                </p>
                                
                                <p>
                                    Are you ready to brave the inferno, challenge the fates, and uncover the secrets that lie beyond the infernal door? Choose your path wisely, for each door opens to a world of possibilities, and every choice echoes through the corridors of eternity. Welcome to the game show like no other, where the stakes are eternal and redemption is the ultimate prize. Dare to step beyond the infernal door and shape the destinies that await in the shadows. The game beckons—are you game?
                                </p>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <style>
    .card {
        background-color: #343A40 !important;
    }
    
    .card-body, .card-title, .card-text, .btn-link {
        color: white !important;
    }

    .btn-primary {
        width: 100%; /* Make the button take the full width */
    }

    .card .collapse .card-body {
        color: white; /* Ensure collapsed content text is white */
    }
</style>




@code {
    
    private Dictionary<int, bool> IsCollapsed = new();

    protected override void OnInitialized()
    {
        // Initialize the collapsed state for Unity assets
        IsCollapsed[0] = false; // Pixel Engine for Unity
        IsCollapsed[1] = false; // TBS - 2d Turn-based Battle System

        // Initialize the collapsed state for games
        IsCollapsed[2] = false; // Phantasy Quest: The Prologue
        IsCollapsed[3] = false; // Lost Dreams
        IsCollapsed[4] = false; // Luminous
        IsCollapsed[5] = false; // The Afterlife
        IsCollapsed[6] = false; // Oceans Call
        IsCollapsed[7] = false; // We're Live
        IsCollapsed[8] = false; // Beyond the Infernal Door
    }

    private void ToggleCollapse(int itemId)
    {
        if (IsCollapsed.ContainsKey(itemId))
        {
            IsCollapsed[itemId] = !IsCollapsed[itemId];
        }
        else
        {
            // If the item doesn't exist in the dictionary, add it with a default state of false (visible)
            IsCollapsed.Add(itemId, false);
        }
    }
}
