@page "/portfolio"

<PageTitle>Portfolio</PageTitle>

<h1 class="center">Portfolio</h1>
<hr class="hr1"/>
<hr class="hr1"/>
<h2 class="center">Games</h2>
<hr class="hr1"/>

<div class="image-container">
  <div class="image-wrapper">
    <a href="https://monydragon.itch.io/phantasy-quest-the-prologue"><img src="Images/PQCover.png" alt="Phantasy Quest: The Prologue"></a>
    <a href="https://dragonlens.itch.io/lost-dreams"><img src="Images/LostDreamsCover.png" alt="Lost Dreams"></a>
    <a href="https://dragonlens.itch.io/luminous"><img src="Images/LuminousCover.png" alt="Luminous"></a>
    <a href="https://dragonlens.itch.io/the-afterlife"><img src="Images/TheAfterLifeCover.PNG" alt="The Afterlife"></a>
  </div>
</div>

<hr class="hr1"/>
<h2 class="center">Unity Assets</h2>
<hr class="hr1"/>

<div class="image-container">
  <div class="image-wrapper">
    <a href="https://assetstore.unity.com/packages/templates/systems/tbs-2d-turn-based-battle-system-225475"><img src="Images/TBSCover.png" alt="TBS - 2d Turn-based Battle System"></a>
  </div>
</div>