@inherits LayoutComponentBase

<div class="container-fluid">
    <NavMenu />
    <div class="row">
        <div class="col-sm-12">
            <div class="main">
                @Body
            </div>
        </div>
    </div>
</div>